<div class="grid-Style">
    <mat-card class="card">
        <mat-card-header class="title">Sign In</mat-card-header>
        <mat-card-content class="box">


            <div class="form-container">
                <mat-form-field class="form-field box">
                    <mat-label>Enter your email</mat-label>
                    <input matInput [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>


            <div class="form-container">
                <mat-form-field class="form-field box">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [formControl]="password" required>
                    <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>

        </mat-card-content>
        <div class="container">
            <div class="center">
                <a mat-flat-button color="accent">Sign In</a>
            </div>
        </div>
    </mat-card>
</div>