<mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let card of artCards">
        <mat-card class="card grid-Box">
            <mat-card-header>
                <mat-card-title class="bottom-margin">{{card.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image class="card-image" [src]="card.imageUrl" />

                <p class="separator">
                    Created By: {{card.ownerUsername}}
                </p>
                <h5>
                    Category: {{card.artCategory}}
                </h5>
                <div class="button-like">
                    <button mat-icon-button color="accent" aria-label="Like Button" (click)="likeArt(card._id)" [disabled]="isLikedByThisUser(card)">
                        <mat-icon [matBadge]="calculateLikes(card)" matBadgeColor="primary">favorite</mat-icon>
                    </button>
                </div>
                <div class="likes"> 
                    <h5>Likes:</h5>
                </div>
            </mat-card-content>
            <mat-expansion-panel class="bottom-separator">
                <mat-expansion-panel-header>Description:</mat-expansion-panel-header>
                <mat-panel-description>

                    <p class="description-box">
                        {{card.description}}
                    </p>

                    <ng-container *ngIf="isCurrentOwner(card.ownerUsername)">
                        <div class="button2-right">
                            <button mat-icon-button color="gray" aria-label="Edit Button" (click)="editArt(card._id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                        <div class="button1-right">
                            <button mat-icon-button color="accent" mat-icon-button aria-label="Delete Button"
                                (click)="deleteArt(card._id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </mat-panel-description>
            </mat-expansion-panel>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>