<p>
    <mat-toolbar color="primary" class="mat-elevation-z1">
        <div class="margin-toolbar"></div>
        <img class="sizeLogo" src="../assets/img/logo.png" />

        <a mat-button color="white" routerLink="home">Home</a>
        <a mat-button color="white" routerLink="browse">Browse Art</a>
        <a mat-button color="white" routerLink="create">Submit Art</a>

        <div class="split"></div>
        <div class="margin-toolbar">
            <ng-container *ngIf="!isLogged()">
                <a mat-flat-button color="primary" routerLink="login">Sign In</a>
                <a mat-flat-button color="accent" class="second-button" routerLink="register">Sign Up</a>
            </ng-container>
            <ng-container *ngIf="isLogged()">
                <a mat-flat-button color="primary" routerLink="userProfile">{{isLogged().username}} Profile</a>
                <a mat-flat-button color="accent" class="second-button" routerLink="logout">Logout</a>
            </ng-container>
        </div>
    </mat-toolbar>
</p>